body {
     background-color: #FFFFFF;
     padding: 0px;
     margin: 0px;
     text-align: center;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
     display: flex;
     flex-direction: column;
}
.navbar{
     display:flex;
     color: #f9faf8;
     background-color: #c69f9f;
     padding: 20px 0px 20px 100px;
     align-items: center;
}
.header-link{
     display:flex;
     margin-left: auto;
     padding: 0px 100px 0px 0px;
}
.header-link a{
     text-decoration: none;
     color:white;
     font-size: 18px;
     padding:10px;
}

/* main content */

.main{
     display: flex;
     color:maroon;
     background-color:#c69f9f;
     align-items: center;
     justify-content: center;
     padding: 280px;

}

h1{
     font-size: 48px;
     font-weight: bold;
     color:honeydew;
     margin: 0;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lookButtonContainer{
     display: block;
     text-align: center;
     width: 110px;
     border:none;
     background:lightblue;
     padding: 5px;
     border-radius: 8px;
     color: #fff;
     text-decoration: none;
     font-weight: bold;
     margin: auto;
}
.lookButtonContainer a{
     text-decoration: none;
     color:white;
     font-size: 18px;
     padding:10px;
}

.content{
     align-items: center;
}
.content-info{
     display: flex;
     justify-content: right;
     flex-wrap: wrap;
}
.content-info img{
     width: 300px;
     height: 300px;
     object-fit: cover;
     /* margin: 0px 0px 0px 0px; */
}
.side-text{
     font-size: 20px;
     padding:15px;
}