html{
     scroll-behavior: smooth;
}
body {
     background-color: #FFFFFF;
     padding: 0px;
     margin: 0px;
     text-align: center;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#background {
     position: fixed;
     width: 100%;
     height: 100%;
     object-fit: cover;
     top: 0;
     left: 0;
     z-index: -2;
 }




.container{
     display: flex;
     flex-direction: column;
}
.navbar{
     display:flex;
     color: #f9faf8;
     background-color: #ab9a9a;
     padding: 10px 20% 10px 80%;
     align-items: center;
     position: fixed;
     z-index: 1;

}
.header-link{
     display:flex;
     margin-left: auto;
     padding: 0px 100px 0px 0px;
}
.header-link a{
     text-decoration: none;
     color:white;
     font-size: 15px;
     padding:10px;
}

/* main content */

.main{
     display: flex;
     color:rgb(56, 47, 47);
     /* background-color:#c69f9f; */
     align-items: center;
     justify-content: center;
     padding: 280px;
}

h1{
     font-size: 48px;
     font-weight: bold;
     color:honeydew;
     margin: 0;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lookButtonContainer{
     display: block;
     text-align: center;
     width: 110px;
     border:none;
     background: #ab9a9a;
     padding: 5px;
     border-radius: 8px;
     color: #fff;
     text-decoration: none;
     font-weight: bold;
     margin: auto;
}
.lookButtonContainer a{
     text-decoration: none;
     color:white;
     font-size: 18px;
     padding:10px;
}


.button {
     /* padding: 12px 16px; */
     /* color: #b18cec; */
     cursor: pointer;
     text-decoration: none;
     color:rgb(56, 47, 47);
     /* border-radius: 10px; */
     /* margin: 4px; */
     transition: 0.3s;
}
.button:hover{
     color:#9fc68d;
}

/* The basics*/
.basics{
     padding: 20px 20px 30px 26%;
     text-align: left;
     background-color: #e0e0d3;
     margin: 10px 0px 50px 0px;
}


/* panel */

.panel-content{
     align-items: center;
}
.panel-content-info{
     display: flex;
     justify-content: right;
     margin: 0px 0px 50px 0px;
     flex-wrap: nowrap;
     transform: translate(-3%, 0%);
}
.panel-content-info img{
     width: 100%;
     height: 20vw;
     object-fit:cover;

}
/* .filler{ */
     /* background-color: #c69f9f; */
     /* display: flex; */
/* } */

/* .filler-box{
     background-color: white;
     padding:20px 20px 10px 35px;
     width: 300px;
     height: 50px;
     font-size: 18px;
     text-align: left;
     font-style: oblique;
} */
.side-text{
     font-size: 14px;
     /* padding:8vw; */
     padding: 10px 7vw 100% 35px;
     width: auto;
     float: left;
     text-align: left;
     background-color: white;
     transform: translate(0%, -1%);
}
.panel-image{
     cursor: pointer;
     outline: none;
     border: none;
     padding: 0px;
     background-color: #ab9a9a;
     width: 100%;
     height: auto;
     transition: 0.5s;
}
.panel-image:hover{
    background-color: #9fc68d;
}

/* courses */
.coursework{
     text-align: left;
     padding: 20px 20px 30px 26%;
}

/* footer*/

.fa-linkedin {
     background: black;
     color: white;
     border-radius: 5%;
     padding:3px;
     text-decoration: none;
     transform: translate(-500%, 500%);
}

.footer{
     background-color: #ab9a9a;
     height: 200px;
}

